<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} CSS {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/list.css' %}">
    
    <title>Listar Colaborador</title>
</head>
<body class="bg-light">
    <div class="navbar-orgchart">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">OrgChart</a>
            {% comment %} <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'register_employee' %}">Cadastrar Colaborador</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_employee' %}">Listar Colaborador</a></li>
                    </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" tabindex="-1">Sair</a>
                </li>
                </ul>
                <form class="d-flex" "{% url "list_employee" %}" method="get">
                    {% comment %} {% csrf_token %} {% endcomment %}
                    <input class="form-control me-2" name="search_query" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </form>
            </div>
            </div>
        </nav>
    </div>
    
    <!-- Adicione esta div wrapper -->
    <div class="content-wrapper">
        <div class="container mt-5 list-container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Deletar</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for employee in employees %}
                        <tr>
                            <th scope="row">{{ employee.id }}</th>
                            <td>{{ employee.nome }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.telefone }}</td>
                            <td>{{ employee.cargo }}</td>
                            <td>{{ employee.supervisor }}</td>
                            <td><a href="{% url 'edit_employee' employee.id %}">Editar</a></td>
                            <td><a href="{% url 'delete_employee' employee.id %}">Deletar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="mt-3">
                {% comment %} Botão para baixar os dados em excel {% endcomment %}
                <a href="{% url 'view_download_excel' %}" class="btn btn-info">Baixar Excel</a>

                {% comment %} Abre opção para subir arquivo excel {% endcomment %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#uploadModal" class="btn btn-primary disabled">Upload Excel</button>
            </div>

            {% comment %} Exibe a mensagem de erro ou sucesso {% endcomment %}
            {% if error %}
                <p class="alert alert-warning mt-3">{{ error }}</p>
            {% endif %}

            {% if sucess %}
                <p class="alert alert-success mt-3">{{ sucess }}</p>
            {% endif %}
            
            <!-- Modal -->
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Upload de Arquivo Excel</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" action="{% url 'view_upload_excel' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="excelFile" class="form-label">Selecione o arquivo Excel</label>
                                    <input type="file" class="form-control" id="excelFile" name="excel_file" accept=".xlsx,.xls">
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2025 Copyright:
          <a class="text-body" href="">Veiga e Castro</a>
        </div>
        <!-- Copyright -->
    </footer>
    {% comment %} JS {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="{% static "scripts/script.js" %}"></script>
</body>
</html>