.list-container{
    width: 100%;
    max-height: 100vh; /* Altura máxima para a tabela */
    overflow-y: auto; /* Adiciona scroll vertical quando necessário */
    margin-bottom: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1 0 auto;
    padding-bottom: 30px; /* Espaço entre o conteúdo e o footer */
}

footer {
    flex-shrink: 0;
    margin-top: auto;
}

/* Estilo para fixar o cabeçalho da tabela enquanto rola */
.table-responsive {
    overflow-y: auto;
    max-height: 65vh;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}